.expenses {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  .expenses h2 {
    margin-top: 0;
  }
  
  form label {
    display: block;
    margin-top: 7px;
  }
  
  form input[type="text"],
  form input[type="date"],
  form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  